<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/reset.css">
  <!--jquery  -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
</head>

<body>
  <%- include("part/_header") %>
    <main>
      <section class="bg-video">
        <video autoplay muted loop src="../assets/video/video1.mp4"></video>
        <div class="bg-video-text">
          <h1 class="text-center">YOUNGSUNG MEDIA</h1>
          <p class="text-center">DIGITAL CONTENTS LAB</p>
        </div>
        <div class="scroll-down">
          <span class="ic-down"></span>
          <div class="scroll-text">scroll down</div>
        </div>
      </section>
      <section class="portfolio">
        <h2 class="title text-center">포트폴리오</h2>
        <ul class="tab-menu">
          <li><button type="button" class="btn btn-gray btn-md" data-filter="all">전체보기</button></li>
          <li><button type="button" class="btn btn-gray btn-md" data-filter="animation"
              data-link="../animation.html">애니메이션</button></li>
          <li><button type="button" class="btn btn-gray btn-md" data-filter="character"
              data-link="../character.html">캐릭터</button></li>
          <li><button type="button" class="btn btn-gray btn-md" data-filter="illustration"
              data-link="../character.html">삽화</button></li>
          <li><button type="button" class="btn btn-gray btn-md" data-filter="video"
              data-link="../video.html">영상디자인</button></li>
        </ul>
        <div class="tab-content">
          <div class="img-grid center">
          </div>
          <div class="text-center">
            <a href="../animation.html" class="more-portfolio text-center">더 많은 포트폴리오 보기</a>
          </div>
        </div>
        <div class="popup-overlay">
          <div class="popup">
            <div class="popup-close"><button class="close"></button></div>
            <div class="popup-inner">
              <div class="popup-head">
                <div>
                  <h3 class="popup-title">팝업제목</h3>
                  <div>
                    <span class="popup-author">경기도교육청</span>
                    <span class="bar-gy"></span>
                    <span class="popup-category">카테고리</span>
                    <span class="bar-gy"></span>
                    <span class="popup-date">날짜</span>
                  </div>
                </div>
              </div>
              <div class="popup-content">
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="swiper-img-wrap"><img src="../assets/img/slide/test1.png" alt=""></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper-img-wrap"><img src="../assets/img/slide/test2.png" alt=""></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper-img-wrap"><img src="../assets/img/slide/test3.png" alt=""></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper-img-wrap"><img src="../assets/img/slide/test1.png" alt=""></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="swiper-img-wrap"><img src="../assets/img/slide/test2.png" alt=""></div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="popup-overlay video">
          <div class="popup">
            <div class="popup-close">
              <button class="close"></button>
            </div>
            <div class="popup-inner">
              <div class="popup-head">
                <div>
                  <h3 class="popup-title">팝업제목</h3>
                  <div>
                    <span class="popup-author">경기도교육청</span>
                    <span class="bar-gy"></span>
                    <span class="popup-category">카테고리</span>
                    <span class="bar-gy"></span>
                    <span class="popup-date">날짜</span>
                  </div>
                </div>
              </div>
              <div class="popup-content">
                <div class="video-player"><video src="../assets/video/video3.mp4" controls></video></div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="d-flex jc-center mb-80">
          <button type="button" class="btn-black btn-lg">더 많은 포트폴리오 보기</button>
        </div> -->
        <%- include("part/_ask") %>
      </section>
    </main>
    <%- include("part/_footer") %>
</body>

</html>

<script src="./js/index.js" type="text/javascript"></script>
<script type="module" src="../js/swiper.js"></script>