<footer>
  <div class="footer-info">
    <a href="../index.html">
      <img src="../../assets/img/logo-g.png" alt="영성미디어 로고">
    </a>
    <div class="footer-info-wrap">
      <div class="company">(주)영성미디어주식회사</div>
      <div class="footer-info-group">
        <div class="footer-bottom">
          <div class="item">
            <span class="label">대표</span>
            <span class="value">이경철</span>
          </div>
          <div class="item">
            <span class="label">사업자등록번호</span>
            <span class="value">128-30-25567</span>
          </div>
          <div class="item">
            <span class="label">주소</span>
            <span class="value">경기도 고양시 일산동구 대산로 31 65-3 301호</span>
          </div>
        </div>
        <div class="footer-top">
          <div class="item d-flex ai-center">
            <span class="ic-tel"></span><span class="label">대표전화</span>
            <a href="tel:031-123-4567" class="valueline">031-123-4567</a>
          </div>
          <div class="item d-flex ai-center">
            <span class="ic-mail-b"></span><span class="label">대표메일</span>
            <a href="mailto:abcde1234@gmail.com" class="valueline">abcde1234@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="copyright">Copyright © 영성미디어주식회사. All rights reserved.</div>
    </div>
  </div>
</footer>