<header>
  <div class="header-inner">
    <a href="../index.html" class="main-logo">
      <img src="../../assets/img/logo-b.png" alt="영성미디어 로고" class="logo-black">
      <img src="../../assets/img/logo-w.png" alt="영성미디어 로고" class="logo-white">
    </a>
    <nav>
      <ul class="d-flex header-menu">
        <li><a href="../introduce.html">회사소개</a></li>
        <li><a href="../animation.html">애니메이션</a></li>
        <li><a href="../character.html">캐릭터 &#183; 삽화</a></li>
        <li><a href="../video.html">영상디자인</a></li>
      </ul>
    </nav>
    <a href="../request.html" class="btn-black btn-md gap-12 btn-invert btn-request">
      문의하기
      <span class="right ic-right-w"></span>
    </a>
    <button type="button" class="menu-btn">
      <span class="ic-menu"></span>
    </button>
  </div>
  <div class="mobile-menu">
    <div class="mobile-close">
      <button type="button" class="close mobile-close-btn"></button>
    </div>
    <ul class="mobile-header-menu">
      <li><a href="../introduce.html">회사소개</a></li>
      <li><a href="../animation.html">애니메이션</a></li>
      <li><a href="../character.html">캐릭터 &#183; 삽화</a></li>
      <li><a href="../video.html">영상디자인</a></li>
      <li><a href="../request.html">제작문의</a></li>
    </ul>
  </div>
</header>